body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(60, 6, 131, 0.5);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #0717f8;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #da2d02;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}

.promedio {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000000;
}

.error {
    color: red;
    font-size: 0.9em;
}


@media (max-width: 600px) {
    .form-group {
        display: block;
        width: 100%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    td::before {
        position: absolute;
        left: 10px;
        top: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    td:nth-of-type(1)::before { content: "Nombre"; }
    td:nth-of-type(2)::before { content: "Apellido"; }
    td:nth-of-type(3)::before { content: "Nota"; }
}

.btn-delete {
     background-color: #0717f8;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
}

.btn-edit {
     background-color: #0717f8;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
}